# Visual Studio 임시 파일
.vs/
ipch/
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# 빌드 결과물
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# 프로젝트 파일
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# 기타 임시 파일
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb